<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathstep</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>

    </style>
</head>

<body>
    <nav role='navigation'>
        <ul>
            <li><a href="#">Pre Algebra</a>
                <ul>
                    <li><a href="">Long Addition</a></li>
                    <li><a href="">Long Subtraction</a></li>
                    <li><a href="">Long Multiplication</a></li>
                    <li><a href="">Long Division</a></li>
                    <li><a href="">Factors of a number</a></li>
                    <li><a href="">HCF and LCM of number</a></li>
                    <li><a href="">Prime numbers</a></li>
                </ul>
            </li>
            <li><a href="#">Algebra</a>
                <ul>
                    <li><a href="">Addition of polynomials</a></li>
                    <li><a href="">Subtraction of polynomials</a></li>
                    <li><a href="">Multiplication of polynomials</a></li>
                    <li><a href="">Long Division of polynomials</a></li>
                    <li><a href="">Completing the square</a></li>
                    <li><a href="">Factorization</a></li>
                </ul>
            </li>
            <li><a href="#">Operation Research</a>
                <ul>
                    <li><a href="">Simplex Method</a></li>
                    <li><a href="">Two-Phase method</a></li>
                    <li><a href="">Assignment problem</a></li>
                    <li><a href="">Dual Simplex method</a></li>
                    <li><a href="">Revised Simplex method</a></li>
                </ul>
            </li>
            <li><a href="#">Calculus</a>
                <ul>
                    <li><a href="">Max. and Min. value</a></li>
                    <li><a href="">Derivative</a></li>
                    <li><a href="">Integration</a></li>
                    <li><a href="">Partial Derivative</a></li>
                </ul>
            </li>
            <li><a href="#">Matrices & Vectors</a>
                <ul>
                    <li><a href="/maddition">Matrix Addition</a></li>
                    <li><a href="">Matric Multiplication</a></li>
                    <li><a href="">Transpose of matrix</a></li>
                    <li><a href="">Cofactor of a matrix</a></li>
                    <li><a href="">Inverse of matrix</a></li>
                    <li><a href="">Eigenvalues</a></li>
                    <li><a href="">Eigenvectors</a></li>
                    <li><a href="/determinant">Determinant</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        {% block page %}
        {% endblock %}
    </main>
</body>

</html>